* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f4c531;
  }

.card-page {
    background-color: #ffffff;
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
}

.page-container {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}

.page-container input {
    font-size: 1em;
    padding: 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid #202030;
  }
  .page-container button {
    font-size: 1em;
    background-color: #f4c531;
    border: none;
    font-weight: 600;
    border-radius: 0.3em;
    z-index: 2;
  }

  .author-btn {
    z-index: 3;
  }

.page-details {
    background-color: #f4c531;
    position: relative;
    margin: -3.3em 0 0 0;
    text-align: center;
    padding: 0.6em 0;
    z-index: 2;
}

.card-title-recipe {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card-categoty-recipe {
    display: block;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.page-details h2 {
    font-size: 1.2em;
    font-weight: 600;
  }

.page-details h4 {
    font-size: 1em;
    font-weight: 400;
  }

  
.search-btn {
    font-size: 1em;
    position: relative;
    left: 75%;
    padding: 0.9em 0.6em;
    background-color: #f4c531;
    border: none;
    top: 1.5em;
    border-radius: 0.3em;
    font-weight: 600;
  }

.card-description-recipe {
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 1.1em;
    padding: 10px 0 0 1.2em;
    color: #303040;
    text-transform: capitalize;
}

.card-image-content {
    display: block;
    width: 100%;
    height: 100%;
    margin: 1.8em auto 0 auto;
    z-index: 1;
}



@media screen and (max-width: 500px) {
    .card-page {
        
      font-size: 14px;
    }
  }