@import "./components/Header/Header.css";
@import '/components/DescriptionSiteEda/DescriptionSiteEda.css';
@import "./components/RecipeCard/RecipeCard.css";

* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    color: #000;
    line-height: 1;
  }

  body * {
    max-height: 1000000em;
    -moz-text-size-adjust: none;
  }

.page-container {
    display: flex;
    flex-direction: column;

}