@import './components/Header/Header.css';
@import './components/DescriptionSiteEda/DescriptionSiteEda.css';
@import './components/RecipeCard/RecipeCard.css';



body {
    font-family: 'Roboto',sans-serif;
    color: #000;
    line-height: 1;
  }


.page-container {
    display: flex;
    flex-direction: column;

}
