:root {
    --loader-flat-background: #ef1144;
    --description-color: white;
    --description-text-color: white;
    --header-style-color: rgb(0, 0, 0);
    --links-color: rgb(0, 0, 0);
    --link-hover-color: rgb(175, 33, 43);
    --card-background: rgb(228, 37, 37);
}
