.recipeCard {
  margin: 25px auto 0;
  position: relative;
  width: 692px;
  
}

.сard {
  background-color: rgb(228, 37, 37);
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgb(75 75 75 / 7%);
  z-index: 1;
}

.recipe-card-image {
  float: right;
}

.recipe-card-name {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.recipe-card-category {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.recipe-card-time {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
}

.recipe-card-description {
  display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
}

.recipe-card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}
